<div class="mx-auto" style="margin-top: 15px; margin-bottom: 40px; width: 490px;">
    <h1>welcome to <i class="fas fa-book"></i><b>Bookers !!</b></h1>
      <p style="line-height: 2.3rem;">In <i class="fas fa-book"></i><b>Bookers,</b><br>
      you can share and exchange your opinions, inpression, and emotions<br>
      about various books!
      </p>
    <div class="mx-auto" style="width: 400px;">
      <%= link_to "Log in", new_user_session_path, class: 'd-block btn btn-info btn-sm', style: 'margin-bottom: 10px;' %>
      <%= link_to "Sign up", new_user_registration_path, class: 'd-block btn btn-success btn-sm' %>
    </div>
</div>